* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5A5377;
    padding: 1rem;
    margin-bottom: 0.5rem;
    position: fixed;
    width: 100%;
    top: 0;
}

nav p {
    color: white;
    font-family: Poppins;
    font-size: small;
    padding-right: 0.5rem;
}

nav i {
    color: white;
}

.navframe {
    display: flex;
    align-items: center;
}

h1 {
    color: #000;
    text-align: center;
    font-family: Pridi;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    padding-top: 3.5rem;
}

.event-cards {
    display: flex;
    padding-right: 0.0625rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.card {
    min-width: fit-content;
    width: 60%;
    height: min-content;
    padding: 1.75em 1.3125em;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 4px solid #EEECEC;
    background: #FFF;

}

.frame1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

h4 {
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.daytime {
    display: inline-flex;
    padding: 0rem 0.5rem;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background: #E9DCF5;
}

.daytimetext {
    color: #5A5377;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}

h6 {
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.far-right {
    display: flex;
    min-width: min-content;
    justify-content: space-between;
    align-items: center;
}

.rsvpbtn {
    padding: 0.625rem 0.75rem;
    margin: 0rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    background: #E9DCF5;
    border-style: none;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    color: #5A5377;
}

.fa-regular.fa-star {
    color: #DBC554;
}