h1 {
    color: #000;
    text-align: center;
    font-family: Pridi;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
}

.event-cards {
    display: flex;
    padding-right: 0.0625rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.card {
    min-width: fit-content;
    width: 60%;
    height: auto;
    padding: 1.75em 1.3125em;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 4px solid #EEECEC;
    background: #FFF;

}

.frame1 {
    display: flex;
    width: 100%;
    height: min-content;
    align-items: center;
    justify-content: space-between;
}

h4 {
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.daytime {
    display: inline-flex;
    padding: 0rem 0.5rem;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    background: #E9DCF5;
}

.daytimetext {
    color: #5A5377;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
}

h6 {
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.farright {
    width: min-content;
}

.rsvpbtn {
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    background: #E9DCF5;
    border-style: none;
}